/* src/components/Modal.module.css */
.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.content {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  max-width: 80rem; 
  width: 95vw;     
  max-height: 90vh;
  overflow-y: auto;
}

